*{ font-family:"Noteworthy";}
/*background-color: #f0f0f0}
*/



#display-guide{font-family: "Arial Black"}
.display-mismatch-pattern{
    position: relative;
    margin-top: 5px;
    border: solid;
    border-radius: 10px;
    border-color: #9ecae1;
    background-color: white;
    margin-left: 100px;
    margin-right: 200px;
    text-align: center;
    font-weight: bold;
}

.display-mismatch-pattern P{
    font-family: "Courier";
    font-weight: normal;
    font-size: 1em;
    color: black;
}


#model-description{
	text-align: left;
    font-size: 0.9em;
    margin-left: 2%;
    margin-right: 2%;
}

/* Body */
.app-body {
    min-height: calc(100vh - 70px);
    overflow: auto;
    margin:-10px -10px -10px;
    background-color: #f7fbff ;  
}

.banner{
	height: 75px;
	margin:-10px -10px -10px;
    background-color: #9ecae1;
	/*background-color: #3690c0;*/
	border-radius: 2px;
}



.banner H1{
	color: black;
	padding-top: 10px;
	margin-left: 2%;
	display: inline-block;
	font-size: 35px;
	color: white;
	font-weight: bold;
}


.banner Img{
	position: relative;
	float: right;
	right: 10px;
	top: 2px;
	height: 60px;
}





#entry-guide, #entry-target{
    width: 100%;
    margin-top: 15px;
}


/* Graphs Container */ 
.graph-container{
float: right;
width: 60%;
height: 550px;
margin: 0px;
}

/* Tabs */
.control-tabs{
    width: 35%;
    height: 590px;
    margin: 40px;
    margin-right: 0px;
    font-size: pt;
    float: left;
    background-color: white; 
    border: none;
}
.control-tabs{
    display: inline-block;
    padding: 0px;
}
.control-tab {
    height: 415px;
    overflow-y: auto;
    padding-right: 20px;
    margin: 20px;
    margin-right: 0px;
}




/* Control names */
.app-controls-block {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
}
.app-controls-name {
    display: inline-block;
    font-weight: 400;
    vertical-align: top;
    width: 160px;
    font-size: 12pt;
    margin-top: 5px;
    margin-bottom: 5px;
}
.fullwidth-app-controls-name {
    display: inline-block;
    font-weight: 400;
    vertical-align: top;
    width: 100%;
    font-size: 12pt;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.app-controls-desc {
    font-size: 9pt;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

/* Dash components */
#app-page-content .Select {
    width: 100% !important;
}

#app-page-content .Select-menu-outer {
    width: 100% !important;
    margin: 0px;
}
#app-page-content .Select-input {
    padding-top: 0px !important;
}
#app-page-content .control-slider {
    display: inline-block;
    width: 150px;
    float: right;
}
#app-page-content .control-upload {
    display: block;
    border: dotted 1px #119dff; /* Change in individual app stylesheet */
    border-radius: 5px;
    padding: 30px;
    font-size: 9pt;
    text-align: center;
}
#app-page-content .control-download {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 7pt;
    transition-duration: 500ms;
}
#app-page-content .control-download:hover {
    color: #119dff; /* Change in individual app stylesheet */
    border-color: #119dff; /* Change in individual app stylesheet */
}

#app-page-content .rc-slider-rail {
    background-color: #f6f6f6; /* Change in individual app stylesheet */
}
#app-page-content .rc-slider-track {
    background-color: #119dff; /* Change in individual app stylesheet */
}

#app-page-content .rc-slider-handle {
    border: solid 2px #119dff; /* Change in individual app stylesheet */
}
@media (max-width: 800px) {
    #app-page-content .control-tabs {
        height: 650px;
    }

    #app-page-content .control-tabs .tab--selected {
        border: solid 1px #d3d3d3; /* Change in individual app stylesheet */
    }
}


/*#reaction-time-unit{*/
/*	position: relative;
	left: 50px ;
}


#usr-tab-time-select{
	position: relative;
	top: 50px;
}

#usr-tab-concentration-select{
	position: relative;
	top: 75px;
}

#usr-tab-sequence-select-2{
	position: relative;
	left: 75px;}*/




/*.banner{ border: 1px ;
	border-radius: 5px; 
	border-color: #fdbb84;
	background-color: #fdbb84
	border-style: solid;
	text-align: left;
	color: black;
	height: 75px;
	width: 100%;
}

.banner img{


}*/




